#headline {
	border-top: 1px #111 solid;
	border-bottom: 1px #111 solid;
	padding: 20px 0px;
	margin: 0px 30px;
	font-size: 12px;
	color: #ddd;
}

#events {
	padding: 20px 0px;
	margin: 0px 30px;
}

.event-entry {
	color: #ddd;
	font-size: 11px;
	width: 800px;
	margin-bottom: 30px;
}

.event-entry img {
	max-width: 230px;
	float:left;
	margin-right: 24px;
}

.event-entry a:hover {
	text-decoration: underline;
}

.entry-headline {
	font-size: 13px;
}