$def with(header, footer)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Revolution Art Women | Contact Us</title>
        <meta name="keywords" content="raw/war, lynn leeson, lynn hershman leeson, feminist art, sundance, new frontier, revolution, women, art, women art revolution, paradiso projects, new frontier, interactive installation, wiimote, crowdsourced" />
		<meta name="description" content="RAW/WAR is built on user contributions with the goal of creating a history defined by the community." />

		<link type="text/css" href="static/css/archive.css" rel="Stylesheet" />
		<link type="text/css" href="static/css/events.css" rel="Stylesheet" />
		<link type="text/css" href="static/css/smoothness/jquery-ui-1.8.6.custom.css" rel="Stylesheet" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	</head>
	<body>
		
	<div id="dimmer" class="translucent" style="display:none;"></div>
		
	<div id="content-container">
		
		<div class="bg translucent">
			<!-- <img src="http://184.106.93.224/img/rawwar-site-background1.png" alt="rawwar-site-background1" width="1280" height="1600" /> -->
		</div>
		
		<div id="content">
		
			<!-- BEGIN HEADER -->
			
			$:header
			
			<div style="clear:both;"></div>
			
			<div id="headline">
				<span style="font-size:30px; font-family:Arial;">
				CONTACT US</span><br/>
      
				
			</div>
			
			<div id="events">
				<div class="event-entry">
					<p>
                    
                    GENERAL INFO:<br />
email: <a href="mailto:rawwar.archive@gmail.com">rawwar.archive@gmail.com</a><br />
phone: 415.626.9947<br /><br />

LICENSING:<br />
All licensing inquires should be made through Hotwire Productions:   <a href="mailto:hotwireoffice@gmail.com">hotwireoffice@gmail.com</a>
<p><br></p>

TECHNICAL SUPPORT:<br />
You may also post any technical questions on our <a href="http://www.facebook.com/topic.php?uid=149173621247&topic=15439">Facebook page</a>.  Our team is available to help you troubleshoot any issues you may have with the web or installation interface.
<p><br></p>



<p><a href="http://www.womenartrevolution.com/contact_request.php" target="new">REQUEST MORE INFORMATION ></a></p>
</ br> 
<a href="http://www.womenartrevolution.com/contact_donate.php" target="new">MAKE A DONATION ></a>

<!--<p><i>The RAW/WAR project team:</i></p>
Lynn Hershman Leeson<br />
Alexandra Chowaniec<br />
Brian Chirls<br />
Gian Pablo Villamil<br />
Paradiso Projects<br />-->
                    
                    
 <br /><br />
				
					 
					
				</div>
				
			</div>
			
			<div style="clear:both;"></div>
			
			<!-- BEGIN FOOTER -->
   		$:footer
		</div>
	</div>
	
	</body>
</html>