$def with(header, footer)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Revolution Art Women | Events</title>
        <meta name="keywords" content="raw/war, lynn leeson, lynn hershman, lynn hershman leeson, feminist art, sundance, new frontier, revolution, women, art, women art revolution, paradiso projects, new frontier, interactive installation, wiimote, crowdsourced" />
		<meta name="description" content="RAW/WAR is built on user contributions with the goal of creating a history defined by the community." />
		<link type="text/css" href="static/css/archive.css" rel="Stylesheet" />
		<link type="text/css" href="static/css/events.css" rel="Stylesheet" />
		<link type="text/css" href="static/css/smoothness/jquery-ui-1.8.6.custom.css" rel="Stylesheet" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	</head>
	<body>
		
	<div id="dimmer" class="translucent" style="display:none;"></div>
		
	<div id="content-container">
		
		<div class="bg translucent">
			<!-- <img src="/img/rawwar-site-background1.png" alt="rawwar-site-background1" width="1280" height="1600" /> -->
		</div>
		
		<div id="content">
		
			<!-- BEGIN HEADER -->
			
			$:header
			
			<div style="clear:both;"></div>
			
			<div id="headline">
				<span style="font-size:30px; font-family:Arial;">
				UPCOMING EVENTS</span><br/>
                Stay tuned: more news of upcoming events coming soon! 
				
			</div>
			
			<div id="events">
				<div class="event-entry">
					<!--<img src="static/img/nf.jpg" />-->	
					JANUARY 20 - JANUARY 30 2011<br /><br />
					<span class="entry-headline">RAW/WAR SET TO PREMIERE AT SUNDANCE NEW FRONTIER ON JANUARY 20, 2011</span><br /><br />RAW/WAR is a live participatory environment that allows users to &quot;bring light&quot; to the lost or invisible histories of women in art with virtual flashlight controllers accessing the interactive, community-curated archive.

					Stay tuned: news of upcoming events coming soon! 
 					<br /><br />
					<a href="http://sundance.slated.com/2011/films/rawwar_sundance2011;jsessionid=4154E4B5842EEBDCFA17D08073F9FBB8" target="new">
						DETAILS &gt;</a>
					 
					
				</div>
				
			</div>
			
			<div style="clear:both;"></div>
			
			$:footer

</div>
</div>
</body>
</html>