<div id="footer">
	<a href="http://womenartrevolution.com/news.php" target="new"><img src="http://rawwar.org/img/rawwar-site_72.png" alt="rawwar-site_72" width="49" height="11"></a>
	<a href="/contact"><img src="static/img/rawwar-site_74.png" alt="rawwar-site_74" width="67" height="11" / target="new"></a>
	<a href="http://lib.stanford.edu/women-art-revolution" target="new"	><img src="static/img/rawwar-site_77.png" alt="rawwar-site_77" width="52" height="11" /></a>
	<a href="http://www.womenartrevolution.com/contact_donate.php" target="new"	><img src="static/img/rawwar-site_80.png" alt="rawwar-site_80" width="58" height="11" /></a>
	<span style="font-size: 8px;">Copyright &copy; Women Art Revolution llc 2011. All Rights Reserved.</span>
</div>			