$def with(header, footer)

<html>	
	<head>
		<title>Women Art Revolution | Add an Artwork</title>
		<link type="text/css" href="static	/css/archive.css" rel="Stylesheet" />		
                <link type="text/css" href="static/css/war.css" rel="Stylesheet" />
		<link type="text/css" href="static/css/smoothness/jquery-ui-1.8.6.custom.css" rel="Stylesheet" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
		<script type="text/javascript" src="static/js/jquery-ui-1.8.6.custom.min.js"></script>
		<script type="text/javascript" src="static/js/jquery.autoclear.min.js"></script>
		<script type="text/javascript" src="static/js/submit.js"></script>
	</head>
	<body>
	<div id="content-container">
		
			<!-- BEGIN HEADER -->
			
			$:header
			
		<div style="clear:both;"></div>			

	<div class="response">
	<div class="thanks">
		<span class="">
			<h2>			
			
<p>Thank you for contributing to the RAW/WAR archive! </p>

<p>RAW/WAR allows current and future generations to access and participate in the creation of their own histories, refusing the fate of obscurity. </p>

<p>Please encourage others to add their work and the work of other women artists. </p>

<a href="/">Continue exploring the archive</a>		
			</p></h2>		
		</span>
	</div>
	</div>
	</body>
      </div>
</html>